//Global mixins and styling specific to the marx theme.
//
//##

body {
	overflow-x: hidden;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin container-h-block {
	margin: 42px 42px;

	display: inline-block;

	h1, h2, h3, h4, h5, h6 {
		margin: 0px 0px 92px 0px;
	}
	p {
		margin: 0px;
	}
}

@mixin container-p-block {
	margin: 50px 52px 50px 42px;

	display: inline-block;
		p {
			margin: 0px;
		}
}

.square {

	width: 100%;
	height: 0;
	padding-bottom: 100%;
	display: inline-block;
}

.rectangle-home-text {
	h4 {
		margin-bottom: 0px !important;

		font-size: 20px;
		line-height: 1.3;
	}
}

@media all and (min-width: 992px) {
	.square-text {

		width: 100%;
		height: 0;
		padding-bottom: 100%;

	}

	.rectangle-home-text {
		width: 100%;
		height: 0;

		padding-bottom: 35.2%;
		&:last-child {
			padding-bottom: 35.2%;
		}
	}
}

.lineheight-fix {
	
	line-height: 0;
}

.body-h-block {
	@include container-h-block;

	p {
		line-height: 1.5;
	}

	
	span {
		font-weight: 500;
	}

}

.body-p-block {
	@include container-p-block;

	p {

		letter-spacing: -.4px;
		line-height: 1.7;
	}
}

.inverse-content {

	background: $body-secondary-bg;


	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-ms-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;
	transition: color 0.4s ease-in-out;

	-webkit-transition: background 0.4s ease-in-out;
	-moz-transition: background 0.4s ease-in-out;
	-ms-transition: background 0.4s ease-in-out;
	-o-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;


	h1, h2, h3, h4, h5, p {

		color: $text-secondary-color;
	}
}

@media all and (min-width: 48em) {
	.overflow-image {

		overflow: hidden;

		img {
			width: auto;
			min-width: 100%;
		}
	}
}

//Global hover styles

@media all and (max-device-width: 1024px) {
	a:hover {

		cursor: default;
	}
}

#animation-icon {
	position: absolute;
	text-align: center;
	top: 50%;
	height: 0px;
	font-size: 250px;
	width: 100%;
	z-index: 1;
	&:before {
		margin: -150px 0 0 0;
		vertical-align: top;
	}
}


.large-text-rectangle {

	width: 100%;
	display: inline-block;

	h5 {
		font-size: 23px;
		margin: 10% auto;
		width: 80%;
		max-width: 1200px;
		@media all and (min-width: 48em) {
			font-size: 36px;
		}
	}
}

@media all and (min-width: 768px) {
	.case-clear {
		clear: left;
	}
}

.clear-archive {
	float: left;
	margin-bottom: -1px;
	&:nth-child(2n+4) {
		margin-top: -17.6%;
	}
}
