.about-text-primary {
	h2 {
		margin-bottom: 68px;

		line-height: 1.2;
	}

	p {

		line-height: 1.7;
	}
}

.our-specialty {

	h3 {

		margin-bottom: 86px;

		font-weight: 500;
	}

	h4 {

		margin-bottom: 120px;

		font-weight: 300;
	}
}

.text-overlay {

	height: 100%;
	width: 100%;
	margin-top: 35%;

	position: absolute;
	top: 0;

	h5 {

		max-width: 325px;
		margin: -40px auto 0;

		letter-spacing: -2px;
		font-weight: 500;
		font-size: 25px;
		@media all and (max-width: 400px) {
			font-size: 20px;
			max-width: 235px;
		}
	}

	.logo-marx-about {

		font-size: 6px;
		display: inline-block;
		vertical-align: top;
	}
}

.about-column {

	margin-right: 5%;
	margin-bottom:33px;
	&:last-child {

		margin-right: 0px;
	}

	hr {

		margin-bottom: 30px;
		border-top: 1px solid $text-secondary-color;
	}

	p {
		font-size: $font-size-small;
		line-height: 1.67;
	}
}

@media all and (min-width: 48em) {

	.text-overlay {

		h5 {

			max-width: 645px;
			margin-top: -80px;

			font-size: ceil(($font-size-base * 2.45));
		}

		.logo-marx-about {

			margin-top: 5px;

			font-size: 10px;

		}

	}

	.about-column {

		width: 30%;

		h4 {
			margin-bottom: 200px;
		}
	}

	.overflow-about {

		img {
			min-height: 578px;
		}

	}


}