//Contact
//
//##

//Placeholder for google maps custom container

.acf-map {
	width: 100%;
	height: 352px;
}

.google-maps-container {
	width: 100%;
	height: 352px;
	color: $text-secondary-color;

	display: inline-block;
	background: $body-secondary-bg;
	overflow: hidden;
}

.contact-text-primary {

	h2 {

		margin-bottom: 92px;
	}

	p {

		margin-bottom: 47px;

	}

	a {
		padding-bottom: 2px;
		transition: all ease-in 0.2s;
	}

	a:hover {
		border-bottom: 1px solid;
	}
}

@media all and (min-width: 48em) {

	.overflow-contact {

		img {
			min-height: 671px;
		}
	}

}
