.site-footer {



	a {
		height: 0;
		padding: 50% 0;
		width: 100%;

		display: block;
		text-align: center;

		p {

			font-size: $font-size-small;
		}

		@media all and (min-device-width: 1025px) {
			&:hover {

			background: $body-secondary-bg;
			color: $link-secondary-color;
			}
		}
	}
	.social-text {
		margin-bottom: -1px;
		p {
			padding: 50% 0;
			text-align: center;
			margin: 0;
			font-size: $font-size-small;
			background: $body-secondary-bg;
			color: $link-secondary-color;
		}
	}

	@media all and (min-width: 48em) {
		margin-bottom: -6px;
		overflow: hidden;
	}
}


.rectangle {

	width: 100%;
	height: 0;
	min-height: 190px;
	padding-bottom: 33.333%;

	display: inline-block;

	p {
		line-height: 1.5;
	}
	.inverse-content {
		padding-right: 2px;
	}

}

.footer-social-nav {
	z-index: 1;

	@media all and (min-width: 48em) {
		.social-footer {
			overflow: hidden;
		}
	}
}

.social-1 {
	overflow: hidden;

	background: $nav-item-3;
}

.social-2 {

	background: $nav-item-2;
}

.social-3 {
	background: $nav-item-1;
}
.social-share {

	background: $body-secondary-bg;

	p {
		color: $link-secondary-color;
	}
}

.tagline {
	margin: 24px 42px;
}

.site-info {
	@media all and (min-width: 48em) {
		z-index: 2;
		margin-top: -2px;

	}
}

.p-fine {
	margin: 12px 42px;

	position: absolute;
	bottom: 0px;
	font-size: $font-size-xsmall;
}

.case-study-nav {

	position: relative;
	z-index: $zindex-navbar;

	height: 58px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;



	a {
		width: 100%;
		background: $next-prev-bg;


		font-size: $font-size-small;
		display: inline-block;
		&:hover {

			background: $nav-item-1;
		}
	}

}


.prev-container {
	a {
		padding: 18px 0 18px 22px;
		@media all and (min-width: 48em) {
			padding: 18px 0 18px 42px;
		}
	}

}

.next-container {

	text-align: right;

	a {

		padding: 18px 22px 18px 0;
		@media all and (min-width: 48em) {
			padding: 18px 42px 18px 0;
		}
	}
} 

.footer-logo-marx {
	z-index: 1;
	background: $body-bg;
}

.logo-marx-container {
	width: 100%;
	text-align: center;
	font-size: 200px;
	height: 1px;
	margin: 50% 0 50% 0;
	display: inline-block;
	#footer-animation:before{
		margin-top: -50%;
	}
	@media all and (min-width: 48em) {
		margin: 50% 0 0 0;
		font-size: 300px;
		display: block;
	}
}

.col-sm-3 {
	margin-top: -2px;
	z-index: 6;

	p {
		margin: 0px;
	}

	a {
		background: $body-bg;
		color: $text-color;
	}

	&:hover {
		background: $body-secondary-bg;
		color: $link-secondary-color;
	}



	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}


