//Hide the skip link section for styling
//
//##

.skip-link {
	display: none;
}

//Hide li first child for styling purposes
//
//##

.main-navigation {
	display:none;
	ul {
		li:first-child {
			display: none;
		}
	}
	@media all and (min-width: 48em) {
		display: block;
	}
}

//Standard styling for Header (Desk-top and tablet)
//
//##

.site-header {

	p {
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	@media all and (min-device-width: 1025px) {
		a:hover {

			.marx-brand-lg-hover {

				opacity: 1;
			}
			.marx-brand-lg {

				opacity: 0;
			}
			.inverse-content {
				background: $body-bg;
			}

			p {
				color: $text-color;
			}
		}
	}

	@media all and (min-width: 48em) {
		height: 255px;
	} 
}

.site-branding {

	height: 255px;
	padding: 35px 0 0 41px;

	.marx-tagline-container p {

		font-weight: 500;
		line-height: 1;
		letter-spacing: -1px;
	}

	.home-container  p {

		position: absolute;
		top: 85px;
		right: 35px;
		color: $text-color;

		line-height: 1.42857;
		font-size: $font-size-base;
	}

}

.marx-brand-lg {

	position: relative;

	opacity: 1;
}

.marx-brand-lg-hover {

	position: absolute;
	left: 41px;
	top: 35px;

	opacity: 0;
}

.marx-brand-lg, .marx-brand-lg-hover {

	margin-bottom: 25px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}

.main-navigation {
	display: none;
}

@media all and (min-width: 48em) {
	.main-navigation {

		display: block;

		height: 100%;

		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

		ul {

			height: 100%;
			padding: 0px;

			list-style: none;
			display: inline-flex;
			li {

				height: 100%;
				width: 120px;

				text-align: center;


				a {

					height: 100%;
					width: 100%;
					padding: 85px 0px;

					display: block;
					font-weight: 300;

					&:hover {

						background-color: $body-secondary-bg;
						color: $link-secondary-color;

					}

				}
			}
		}
	}

}

.menu {
	height: 100%;
}


.menu-container {
	position: fixed;
	z-index: 1030;

	top: 0;
	right: 0;

	height: auto;
	width: auto;

	.menu-fixed {

		position: relative;
		z-index: 1060;
		margin: 20px;

		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

		display: block;

		@media all and (min-width: 48em) {

			padding: 25px;
			margin: 29px;

		}

		@media all and (min-device-width: 1025px) {
			&:hover {

				cursor: pointer;
				background: $body-bg;
			}
		}

	}

	.menu-mobile {

		position: relative;
		margin: 20px;
		z-index: 1060;

		display: block;
		@media all and (min-width: 48em) {
			opacity: 0;
			z-index: -1;
		}
	}

	.menu-hide {
		display: none;
	}

}



