.navigation--main {

//Hiding nav for build

	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	overflow: scroll;
	z-index: 1020;

	background-color: $body-secondary-bg;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	@media all and (min-width: 48em) {
		overflow: hidden;
	}
}

.navigation-header {
	height: 120px;

	background-color: $body-bg;
		.logo-marx-sm {
			padding: 15px 0 0 30px;
			font-size: 7px;
			position: absolute;

		}

		@media all and (min-width: 48em ) {

			height: 143px;
			.logo-marx-sm {

				padding: 35px 0 0 42px;

				font-size: 10px;
			}
	}

}

.overlay-left {
	position: fixed;
	top: 0;

	height: 100%;	

	background-color: $body-bg;
	opacity: 0.7;

	z-index: 1020;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	cursor: pointer;
}

.opacity-none {
	opacity: 0;
	z-index: -1;
	display: none;
}

.navigation--open {
	margin-right: -50%;
}

.navigation-list {

	padding: 0;
	margin: 0;

	li {

		height: 80px;

		a {
			height: 100%;
			width: 100%;
			padding: 28px 0 0 33px;

			display: inline-block;
			@media all and (min-width: 48em) {
				padding: 28px 0 0 50px;
			}
			&:hover {
				background-color: $body-secondary-bg;
				color: $text-secondary-color;
			}
		}
	}
}

.navigation-item--1 {

	background-color: $nav-item-1;
}

.navigation-item--2 {

	background-color: $nav-item-2;
}

.navigation-item--3 {

	background-color: $nav-item-3;
}

.navigation-item--4 {

	background-color: $nav-item-4;
}