

.title-front-page {
	position: relative;
	overflow: hidden;

	.thumb-hover-2, p {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;


		&:hover {
			opacity: 1;
			-webkit-transition: all 0.8s ease-in-out 2s;
			-moz-transition: all 0.8s ease-in-out 2s;
			-ms-transition: all 0.8s ease-in-out 2s;
			-o-transition: all 0.8s ease-in-out 2s;
			transition: all 0.8s ease-in-out 2s;

		}

	}
	
	.thumb-hover-2 {
		z-index: 2;
	}

	p {
		opacity: 1;
		z-index: 100;

		margin-left: 42px;
		margin-top: 42px;
	}
	.blue {
		color: #170c51;
	}
}

.right-tagline h4 {
	font-size: 24px;
	line-height: 1.1;
}

@media all and (min-width: 48em) {
	.right-tagline {
		float: right;
	}

	.item:last-child {
		z-index: 1;
	}

}

.item{
	margin-bottom: -1px;
	img {
		-moz-transform: scaleX(1.001);
	}
	&:nth-child(15) {
		clear: left;
	}
}

@media all and (min-width: 992px) {
	.item:nth-child(2n+3) {
		margin-top: -17.6%;
	}

	.item:nth-child(9),
	.item:nth-child(11),
	.item:nth-child(13),
	.item:nth-child(15) {
		margin-top: 0px;
	}

	.item:nth-child(n+24) {
		margin:0px;
	}

	.item:nth-child(9) {
		clear: left;
	}
}

@media all and (min-width: 992px) {
	.clear-left:nth-of-type(even) {
		float: right;
	}
}

.identity-overflow {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	clear: left;
}

#title-identity {
	z-index: 801;
}

.margin-id {
	margin-bottom: -1px;
}

.slide-identity {
	position: absolute;
	display: block !important;
	top: 0;
	left: 0;
	z-index: 700;


	opacity: 1;

}

.visible-slide {
	position: relative;

	z-index: 800;

}

.slide-right {

	z-index: 801;
	opacity: 0;
	transition: opacity 0.8s linear;

}

