// Icons
//
// Use these for icons
//
// .icon-location - icon-location icon
// .logo-marx-about - logo-marx-about icon
// .logo-marx-sm - logo-marx-sm icon
// .marx-brand-lg - marx-brand-lg icon
// .marx-brand-lg-hover - marx-brand-lg-hover icon
// .marx-tagline-lg - marx-tagline-lg icon
// .marx-tagline-lg-hover - marx-tagline-lg-hover icon
// .menu-fixed - menu-fixed icon
// .menu-mobile - menu-mobile icon
//
//  Markup:
// <i class="icon {$modifiers}"></i>
//
// Styleguide 12.1.1

@mixin icon () {
		font-size: 10px;
}

@mixin iconBefore() {
		content:' ';
		vertical-align:middle;
		display: inline-block;
		background-image: url("assets/images/sprite.svg");
		background-repeat: no-repeat;
		background-size: 14.4em 33.6em;
}

@mixin no-svg-icon() {
		background-image: url("assets/images/sprite.png");
}


@mixin icon-location() {
		background-position: 0em 0em;
		width: 1.7em;
		height: 2.7em;
}

@mixin logo-marx-about() {
		background-position: 0em -2.7em;
		width: 3.9em;
		height: 4.1em;
}

@mixin logo-marx-sm() {
		background-position: 0em -6.8em;
		width: 5.7em;
		height: 5.8em;
}

@mixin marx-brand-lg() {
		background-position: 0em -12.6em;
		width: 14.4em;
		height: 4.4em;
}

@mixin marx-brand-lg-hover() {
		background-position: 0em -17em;
		width: 14.4em;
		height: 4.4em;
}

@mixin marx-tagline-lg() {
		background-position: 0em -21.4em;
		width: 8.8521em;
		height: 3.1186em;
}

@mixin marx-tagline-lg-hover() {
		background-position: 0em -24.6em;
		width: 8.8521em;
		height: 3.1186em;
}

@mixin menu-fixed() {
		background-position: 0em -27.8em;
		width: 2.7em;
		height: 2.9em;
}

@mixin menu-mobile() {
		background-position: 0em -30.7em;
		width: 2.7em;
		height: 2.9em;
}




.icon {
		font-size: 10px;
}

.icon:before {
		content:' ';
		vertical-align:middle;
		display: inline-block;
		background-image: url("assets/images/sprite.svg");
		background-repeat: no-repeat;
		background-size: 14.4em 33.6em;
}

.no-svg .icon:before {
		background-image: url("assets/images/sprite.png");
}


.icon-location:before {
		background-position: 0em 0em;
		width: 1.7em;
		height: 2.7em;
}

.logo-marx-about:before {
		background-position: 0em -2.7em;
		width: 3.9em;
		height: 4.1em;
}

.logo-marx-sm:before {
		background-position: 0em -6.8em;
		width: 5.7em;
		height: 5.8em;
}

.marx-brand-lg:before {
		background-position: 0em -12.6em;
		width: 14.4em;
		height: 4.4em;
}

.marx-brand-lg-hover:before {
		background-position: 0em -17em;
		width: 14.4em;
		height: 4.4em;
}

.marx-tagline-lg:before {
		background-position: 0em -21.4em;
		width: 8.8521em;
		height: 3.1186em;
}

.marx-tagline-lg-hover:before {
		background-position: 0em -24.6em;
		width: 8.8521em;
		height: 3.1186em;
}

.menu-fixed:before {
		background-position: 0em -27.8em;
		width: 2.7em;
		height: 2.9em;
}

.menu-mobile:before {
		background-position: 0em -30.7em;
		width: 2.7em;
		height: 2.9em;
}

/*test test test*/
