// Icons
//
// Use these for icons
//
{#svg}// .{name} - {name} icon
{/svg}//
//  Markup:
// <i class="icon {{^foo}$modifiers{/foo}}"></i>
//
// Styleguide 12.1.1
{#common}
@mixin {common} () {
		font-size: 10px;
}

@mixin {common}Before() {
		content:' ';
		vertical-align:middle;
		display: inline-block;
		background-image: url("{svgPath}");
		background-repeat: no-repeat;
		background-size: {relWidth}em {relHeight}em;
}

@mixin no-svg-{common}() {
		background-image: url("{pngPath}");
}
{/common}
{#svg}

@mixin {name}() {
		background-position: {relPositionX}em {relPositionY}em;
		width: {relWidth}em;
		height: {relHeight}em;
}
{/svg}


{#common}
.{common} {
		font-size: 10px;
}

.{common}:before {
		content:' ';
		vertical-align:middle;
		display: inline-block;
		background-image: url("{svgPath}");
		background-repeat: no-repeat;
		background-size: {relWidth}em {relHeight}em;
}

.no-svg .{common}:before {
		background-image: url("{pngPath}");
}
{/common}
{#svg}

.{name}:before {
		background-position: {relPositionX}em {relPositionY}em;
		width: {relWidth}em;
		height: {relHeight}em;
}
{/svg}

/*test test test*/
